@model ParkingSlots
<form method="post">
    <div class="row pb-2">
        <h2 class="text-secondary">Edit Parking Slot</h2>
        <hr />
    </div>
    <div asp-validation-summary="All"></div>

    <div class="mb-3 row p-1">
        <label asp-for="SlotCode" class="p-0"> </label>
        <input asp-for="SlotCode" class="form-control" />
        <span asp-validation-for="SlotCode" class="text-danger"></span>
    </div>

    <div class="mb-3 row p-1">
        <label asp-for="Location" class="p-0"> </label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-bg-danger"></span>
    </div>

    <div class="mb-3 row p-1">
        <label asp-for="IsVacant" class="p-0"> </label>
        <select asp-for="IsVacant" class="form-control text-dark" id="sel1">
        <option value="true">Yes</option>
        <option value="false">No</option>
        </select>
    </div>

    <div class="row">
        <div class="col-6">
            <button type="submit" class="btn btn-primary form-control">Update</button>
        </div>

        <div class="col-6">
            <a asp-controller="ParkingSlots" asp-action="Index" class="btn btn-secondary border form-control">
                Back to list
            </a>
        </div>
    </div>
</form>